<a href="https://colab.research.google.com/github/dmitra1998/Credit-Card-Fraud-Detection/blob/master/credit_card_fraud_detection_using_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importing dependencies
import numpy as np
import pandas as pd  #numpy and pandas are library
from sklearn.model_selection import train_test_split #it will split data in test and train
from sklearn.linear_model import LogisticRegression #model to be used in our project
from sklearn.metrics import accuracy_score ##will help in checking in accuracy

In [16]:
# loading the dataset to a panda dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
#first five rows
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
#last five rows
credit_card_data.tail()

            Time        V1        V2  ...       V28  Amount  Class
204076  135100.0  2.126725 -0.105402  ... -0.071622    1.98    0.0
204077  135100.0 -0.582696  2.109869  ...  0.015287   13.26    0.0
204078  135101.0  1.988614 -0.207240  ... -0.028725    7.47    0.0
204079  135102.0  1.862102 -0.124052  ...  0.006155  108.51    1.0
204080  135102.0  0.245859  0.925437  ...       NaN     NaN    NaN

[5 rows x 31 columns]

In [6]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204081 entries, 0 to 204080
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    204081 non-null  float64
 1   V1      204081 non-null  float64
 2   V2      204081 non-null  float64
 3   V3      204081 non-null  float64
 4   V4      204081 non-null  float64
 5   V5      204081 non-null  float64
 6   V6      204081 non-null  float64
 7   V7      204081 non-null  float64
 8   V8      204081 non-null  float64
 9   V9      204081 non-null  float64
 10  V10     204081 non-null  float64
 11  V11     204081 non-null  float64
 12  V12     204080 non-null  float64
 13  V13     204080 non-null  float64
 14  V14     204080 non-null  float64
 15  V15     204080 non-null  float64
 16  V16     204080 non-null  float64
 17  V17     204080 non-null  float64
 18  V18     204080 non-null  float64
 19  V19     204080 non-null  float64
 20  V20     204080 non-null  float64
 21  V21     204080 non-null  float64
 22  V22     204080 non-null  float64
 23  V23     204080 non-null  float64
 24  V24     204080 non-null  float64
 25  V25     204080 non-null  float64
 26  V26     204080 non-null  float64
 27  V27     204080 non-null  float64
 28  V28     204080 non-null  float64
 29  Amount  204080 non-null  float64
 30  Class   204080 non-null  float64
dtypes: float64(31)
memory usage: 48.3 MB

In [17]:
#checking the number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [14]:
credit_card_data.shape

(204081, 31)

In [12]:
#Replacing missing value with null string method called imputation
credit_card_data = credit_card_data.fillna('')

In [19]:
#distribution of legit transaction & fraudulent transactions
credit_card_data['Class'].value_counts()
#This dataset is unbalanced as valid transaction(0.0) is much more the fraudulant transaction(1.0)

0.0    203688
1.0       392
Name: Class, dtype: int64

In [20]:
#seperating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [22]:
print(legit.shape)
print(fraud.shape)

(203688, 31)
(392, 31)

In [25]:
legit.Amount.describe()
#here it is percentile not percentage 25, 50 and 75

count    203688.000000
mean         89.698841
std         248.388033
min           0.000000
25%           5.990000
50%          23.000000
75%          79.190000
max       19656.530000
Name: Amount, dtype: float64

In [26]:
fraud.Amount.describe()

count     392.000000
mean      123.485765
std       257.455297
min         0.000000
25%         1.000000
50%        12.310000
75%       105.915000
max      2125.870000
Name: Amount, dtype: float64

In [27]:
#compare the values for both transaction
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    71931.358926 -0.085236 -0.006647  ...  0.001063  0.001671   89.698841
1.0    62596.510204 -5.586024  4.158763  ...  0.181626  0.059742  123.485765

[2 rows x 30 columns]

Under-Sampling will be used to fix unbalanced dataset

Build a sample dataset containing similar distribution of normal transaction and fraudulent transaction

Number of fraudulent transaction --> 392

In [28]:
legit_sample = legit.sample(n=392) #it will choose 392 random data from legit variable

Concatenating two dataframe

In [29]:
new_dataset = pd.concat([legit_sample, fraud], axis=0) #axis=0 means value will be added row wise and axis=1 means value will be added column wise

In [30]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
176103  122627.0 -2.064977  1.589688  ... -0.147217   30.49    0.0
196899  131747.0  1.840325 -0.642748  ... -0.052102   39.94    0.0
117049   74523.0  1.105810 -1.835134  ...  0.027081   76.38    0.0
124400   77274.0  1.246205 -0.408767  ...  0.033514    1.00    0.0
55289    46862.0  1.135145 -0.022437  ...  0.024299   91.00    0.0

[5 rows x 31 columns]

In [31]:
new_dataset.tail()

            Time        V1        V2  ...       V28  Amount  Class
203324  134766.0 -0.079653  3.222010  ...  0.595610    1.00    1.0
203328  134769.0 -0.967767  2.098019  ...  0.162777  925.31    1.0
203700  134928.0  1.204934  3.238070  ...  0.340847    0.00    1.0
204064  135095.0  0.232512  0.938944  ... -0.029315  345.00    1.0
204079  135102.0  1.862102 -0.124052  ...  0.006155  108.51    1.0

[5 rows x 31 columns]

In [34]:
#total values present in each class
new_dataset['Class'].value_counts()

0.0    392
1.0    392
Name: Class, dtype: int64

In [35]:
#compare the values for both transaction for new dataset
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    71279.732143  0.046182  0.034125  ...  0.008270 -0.004542   88.689796
1.0    62596.510204 -5.586024  4.158763  ...  0.181626  0.059742  123.485765

[2 rows x 30 columns]

Splitting data into Features & Target

In [37]:
#Feature are all columns
#Target are rows (here 0 and 1)
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [38]:
X

            Time        V1        V2  ...       V27       V28  Amount
176103  122627.0 -2.064977  1.589688  ... -0.271005 -0.147217   30.49
196899  131747.0  1.840325 -0.642748  ...  0.029529 -0.052102   39.94
117049   74523.0  1.105810 -1.835134  ...  0.162109  0.027081   76.38
124400   77274.0  1.246205 -0.408767  ...  0.088214  0.033514    1.00
55289    46862.0  1.135145 -0.022437  ... -0.011767  0.024299   91.00
...          ...       ...       ...  ...       ...       ...     ...
203324  134766.0 -0.079653  3.222010  ...  0.668497  0.595610    1.00
203328  134769.0 -0.967767  2.098019  ...  0.956769  0.162777  925.31
203700  134928.0  1.204934  3.238070  ...  0.491828  0.340847    0.00
204064  135095.0  0.232512  0.938944  ...  0.180859 -0.029315  345.00
204079  135102.0  1.862102 -0.124052  ... -0.019579  0.006155  108.51

[784 rows x 30 columns]

In [39]:
Y

176103    0.0
196899    0.0
117049    0.0
124400    0.0
55289     0.0
         ...
203324    1.0
203328    1.0
203700    1.0
204064    1.0
204079    1.0
Name: Class, Length: 784, dtype: float64

Splitting data into training and testing

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [44]:
print(X.shape, X_train.shape, X_test.shape)

(784, 30) (627, 30) (157, 30)

Model Training

Logistic Regression will be used for binary represented data

In [45]:
model = LogisticRegression()

In [47]:
#training data with LogisticRegression with training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [49]:
#accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [50]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9521531100478469

In [51]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [52]:
print('Accuracy on Testing data : ', test_data_accuracy)

Accuracy on Testing data :  0.9235668789808917

If accuracy score of training and test data are very different then our model is either overfitted or underfitted. 

Suppose if training data is having accuracy of 94% and test data have accuracy of 50% then the model is overfitted and vice-versa for underfitting

In [53]:
!git

usage: git [--version] [--help] [-C <path>] [-c <name>=<value>]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p | --paginate | --no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]
           <command> [<args>]

These are common Git commands used in various situations:

start a working area (see also: git help tutorial)
   clone      Clone a repository into a new directory
   init       Create an empty Git repository or reinitialize an existing one

work on the current change (see also: git help everyday)
   add        Add file contents to the index
   mv         Move or rename a file, a directory, or a symlink
   reset      Reset current HEAD to the specified state
   rm         Remove files from the working tree and from the index

examine the history and state (see also: git help revisions)
   bisect     Use binary search to find the commit that introduced a bug
   grep       Print lines matching a pattern
   log        Show commit logs
   show       Show various types of objects
   status     Show the working tree status

grow, mark and tweak your common history
   branch     List, create, or delete branches
   checkout   Switch branches or restore working tree files
   commit     Record changes to the repository
   diff       Show changes between commits, commit and working tree, etc
   merge      Join two or more development histories together
   rebase     Reapply commits on top of another base tip
   tag        Create, list, delete or verify a tag object signed with GPG

collaborate (see also: git help workflows)
   fetch      Download objects and refs from another repository
   pull       Fetch from and integrate with another repository or a local branch
   push       Update remote refs along with associated objects

'git help -a' and 'git help -g' list available subcommands and some
concept guides. See 'git help <command>' or 'git help <concept>'
to read about a specific subcommand or concept.

In [54]:
! git init

Initialized empty Git repository in /content/.git/

In [55]:
! git clone https://github.com/dmitra1998/Credit-Card-Fraud-Detection.git

Cloning into 'Credit-Card-Fraud-Detection'...
warning: You appear to have cloned an empty repository.

In [56]:
! pwd

/content

In [57]:
! git remote -v

In [58]:
! git status

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.config/
	creditcard.csv
	sample_data/

nothing added to commit but untracked files present (use "git add" to track)

In [61]:
! git add -A

In [62]:
! git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   .config/.last_opt_in_prompt.yaml
	new file:   .config/.last_survey_prompt.yaml
	new file:   .config/.last_update_check.json
	new file:   .config/active_config
	new file:   .config/config_sentinel
	new file:   .config/configurations/config_default
	new file:   .config/gce
	new file:   .config/logs/2022.02.01/14.30.57.022317.log
	new file:   .config/logs/2022.02.01/14.31.16.993813.log
	new file:   .config/logs/2022.02.01/14.31.33.364834.log
	new file:   .config/logs/2022.02.01/14.31.40.709264.log
	new file:   .config/logs/2022.02.01/14.31.57.576848.log
	new file:   .config/logs/2022.02.01/14.31.58.218326.log
	new file:   creditcard.csv
	new file:   sample_data/README.md
	new file:   sample_data/anscombe.json
	new file:   sample_data/california_housing_test.csv
	new file:   sample_data/california_housing_train.csv
	new file:   sample_data/mnist_test.csv
	new file:   sample_data/mnist_train_small.csv

In [63]:
! git add -A

In [64]:
! git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   .config/.last_opt_in_prompt.yaml
	new file:   .config/.last_survey_prompt.yaml
	new file:   .config/.last_update_check.json
	new file:   .config/active_config
	new file:   .config/config_sentinel
	new file:   .config/configurations/config_default
	new file:   .config/gce
	new file:   .config/logs/2022.02.01/14.30.57.022317.log
	new file:   .config/logs/2022.02.01/14.31.16.993813.log
	new file:   .config/logs/2022.02.01/14.31.33.364834.log
	new file:   .config/logs/2022.02.01/14.31.40.709264.log
	new file:   .config/logs/2022.02.01/14.31.57.576848.log
	new file:   .config/logs/2022.02.01/14.31.58.218326.log
	new file:   creditcard.csv
	new file:   sample_data/README.md
	new file:   sample_data/anscombe.json
	new file:   sample_data/california_housing_test.csv
	new file:   sample_data/california_housing_train.csv
	new file:   sample_data/mnist_test.csv
	new file:   sample_data/mnist_train_small.csv